Binaries
DerivedDataCache
Intermediate
Saved
Executables
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*DefenderOfGaia_Map_BuiltData.uasset
Content/FirstPersonBP/Maps/DefenderOfGaia_Map/DefenderOfGaia_Map_BuiltData.uasset
Content/FirstPersonBP/Maps/FirstPersonExampleMap_BuiltData.uasset
